* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

p {
    position: absolute;
}

span {
    color: red;
}

.box, .btn__add {
    border-radius: 32px;
    background: white;
    position: absolute;
}

.container {
    width: 1400px;
    min-height: 1772px;

    background: black;
}

.container__head {
    width: 100%;
    height: 575px;
    display: flex;
    position: relative;

}

.box.one {
    width: 137px;
    height: 137px;
    margin-left: 74px;
    margin-top: 68px;
}

.box.two {
    width: 42px;
    height: 42px;
    margin-left: 454px;
    margin-top: 47px;
}

.box.three {
    width: 51px;
    height: 51px;
    margin-left: 238px;
    margin-top: 337px;
}

.box.four {
    width: 25px;
    height: 25px;
    margin-left: 91px;
    margin-top: 453px;
}

.box.five {
    width: 90px;
    height: 90px;
    margin-left: 364px;
    margin-top: 484px;
}

.box.six {
    width: 90px;
    height: 90px;
    margin-top: 23px;
    margin-left: 730px;
}

.box.seven {
    width: 83px;
    height: 83px;
    margin-top: 68px;
    margin-left: 1134px;

}

.box.eight {
    width: 42px;
    height: 42px;
    margin-top: 294px;
    margin-left: 1134px;
}

.box.nine {
    width: 63px;
    height: 63px;
    margin-top: 453px;
    margin-left: 1217px;

}

.box.ten {
    width: 90px;
    height: 90px;
    margin-top: 484px;
    margin-left: 895px;
}

.btn__add {
    width: 264px;
    height: 73px;
    margin-top: 301px;
    margin-left: 570px;

    box-shadow: 12px 32px 80px -20px rgba(0, 0, 0, 0.12);
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.card__wrapper {
    width: 178px;
    height: 274px;
    background: #000000;
    border-radius: 20px 20px 9px 9px;
    margin-left: 50px;
    margin-top: 34px;
    position: relative;


}

.card__wrapper:hover {
    background: #ffffff;

}

.card__wrapper:hover .btn__remove {
    opacity: 1;

}

.card {
    width: 178px;
    height: 253px;
    background: #3E3E3E;
    border-radius: 12px;
    position: relative;
    display: flex;
    justify-content: center;

}

.container__card {
    margin-top: 91px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card__picture {
    width: 165px;
    height: 195px;
    border-radius: 10px;
    margin-top: 6.44px;
}

.card__name {
    left: 9.43%;
    top: 6.41%;

    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.04em;

    color: #FFFFFF;
}

.card__description {
    position: absolute;
    left: 9.43%;
    bottom: 6.41%;

    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.04em;

    color: #FFFFFF;

    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
}

.btn__remove {
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 2px;

    left: 83px;
    background: url("can.png");
    background-size: cover;
    border: none;
    cursor: pointer;
    opacity: 0;
}



